    <h4>Name:</h4><%= @site.name %>
    <p><br></p>
    <h4>Trade Items: </h4>
    <% @site.trade_items.each do |item| %>
      <%= item.name %>
    <% end %>
    <p><br></p>
    <%= link_to "Visit Your Site", root_path(subdomain: @site.subdomain) %>