  <footer>
    <div class="container">
      <div class="row">
        <div class="span3">
          <br><p><br>
          <h4>Example Pages</h4>
          <ul>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          </ul>
        </div>
        <div class="span3">
          <h4>Contact Us</h4>
          <address>
            <strong>Awesome Company</strong><br>
            123 Success Ave<br>
            Some City, CA 98888<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br/>
          </address>
        </div>        
        <div class="span4">
          <h4>About</h4>
          <p>We are an awesome company that does incredible things.  We make our widgets better than anyone else and we take pride in that.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
