  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <br>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", root_path(subdomain: @site.subdomain) %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-spacer"></div>
  <br><p><br>
